<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cataldo.chris.homeautomationcontroller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".GlobalVars"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Device List" />
        <activity
            android:name=".AdjustCatFeeder"
            android:screenOrientation="portrait"
            android:label="Adjust Cat Feeder"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SetAwayStatus"
            android:screenOrientation="portrait"
            android:label="Set Away Status"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewSecurityLog"
            android:label="Security Alerts"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RestartAutomation"
            android:label="Restart Automation Scripts"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RebootSystem"
            android:label="Reboot System"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".About"
            android:label="About"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditSettings"
            android:label="Edit Settings"
            android:parentActivityName=".SplashScreen" />
    </application>

</manifest>